@import url('../assets/satoshi/css/satoshi.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Satoshi', sans-serif;
  margin: 0;
  padding: 0;
}